.card {
    border-radius: 12px;
    border: 2px solid #D0CCCC;
  }
  .card-checked-red {
    background: #F15A2C1A;
    border: 2px solid #F15A2C
  }
    
   .circle-icon-red {
    color: #F8A692;
  }
  
  .icon-stack {
    font-size: 1.2em
  }
  
  .vc-check {
    position: relative
  }